{{>sidebar}}
<div id="right-panel" class="right-panel">
    {{> header}}
    <div id="content"></div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tài khoản: {{data.username}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form action="/user/{{data.username}}?_method=PUT" method="post">
                        <div class="mb-3">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="select" class=" form-control-label">Chức
                                        vụ</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="role_id" id="select" getValue="{{data.role_id}}"
                                        class="form-control">
                                        {{#each role}}
                                        <option value="{{this._id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Lưu lại</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- jQuery library -->
{{!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script> --}}

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    var select = document.getElementById('select')
    var getValue = select.getAttribute('getValue')
    function showSelected(showElement, value) {
        valueFromDatabase = value
        // Lấy tham chiếu đến element select
        var selectElement = showElement

        // Duyệt qua từng option trong select
        for (var i = 0; i < selectElement.options.length; i++) {
            // So sánh giá trị của option với giá trị từ database
            if (selectElement.options[i].value === valueFromDatabase) {
                // Đặt thuộc tính selected cho option tương ứng
                selectElement.options[i].selected = true;
                break; // Dừng vòng lặp nếu đã tìm thấy giá trị
            }
        }
    }
    showSelected(select, getValue)
</script>
<script>

    $(document).ready(function () {
        $('#myModal').modal('show');
        const getContent = document.getElementById('content')
        // Lấy nội dung từ sessionStorage
        var content = sessionStorage.getItem('contentUser');
        // Hiển thị nội dung từ trang 1
        getContent.innerHTML = content;

        // Bắt sự kiện khi modal được đóng
        $('#myModal').on('hidden.bs.modal', function () {
            // Chuyển hướng về trang 1 khi modal được đóng
            window.location.href = `/user/store`;
        });
    });
</script>